
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Starter Template - Materialize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="./static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="./static/css2/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<body>
  <nav class="light-blue lighten-1" role="navigation" style='background-color: #000066 !important'>
    <div class="nav-wrapper container" ><a id="logo-container" href="#" class="brand-logo">BOAZ Conference</a>
    </div>
  </nav>


  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text" style='color: #000066 !important'>Size Recommendation System</h1>
      <div class="center">
        <img src="{{ url_for('static', filename='image/sizoah_logo.png') }}">"
      </div>
      <div class="row center">
        <h5 class="header col s12 light">키/몸무게/성별과 선호하는 옷의 느낌을 입력하여 사이즈를 추천받아보세요!
        <br>
        </h5>
      </div>

              <div class="row">
    <form action='/predict' method="post" class="col s12">
      <div class="row">
        <div class="input-field col s4">
            <label for="first_name"><b>Height</b></label>
            <br>
          <input placeholder="본인의 키를 입력하세요(cm)" name="Height" id="first_name" type="text" class="validate">
        </div>

        <div class="input-field col s4">
          <label for="last_name"><b>Weight</b></label>
            <br>
          <input id="last_name" name="Weight" placeholder="본인의 몸무게를 입력하세요(kg)"  type="text" class="validate">
        </div>

        <div class="input-field col s4">
          <label for="last_name"><b>Gender</b></label>
            <br>
          <input id="last_name" name="Gender" placeholder="본인의 성별을 선택하세요(남성/여성)"  type="text" class="validate">
        </div>

        <div class="input-field col s6">
          <label for="first_name"><b>Chongjang</b></label>
            <br>
          <input placeholder="선호하는 총장의 느낌을 입력하세요(큼/작음/보통)" name="Chongjang" id="first_name" type="text" class="validate">
        </div>

        <div class="input-field col s6">
          <label for="first_name"><b>Shoulder</b></label>
            <br>
          <input placeholder="선호하는 어깨너비의 느낌을 입력하세요(큼/작음/보통)" name="Shoulder" id="first_name" type="text" class="validate">
        </div>

        <div class="input-field col s6">
          <label for="first_name"><b>Chest</b></label>
            <br>
          <input placeholder="선호하는 가슴단면의 느낌을 입력하세요(큼/작음/보통)" name="Chest" id="first_name" type="text" class="validate">
        </div>

        <div class="input-field col s6">
          <label for="first_name"><b>Arm</b></label>
            <br>
          <input placeholder="선호하는 소매길이의 느낌을 입력하세요(큼/작음/보통)" name="Arm" id="first_name" type="text" class="validate">
        </div>

        <div class="input-field col s12">
        </div>

        <div class="row center" >
          <button type="submit" class="btn-large waves-effect waves-light orange" style='background-color: #000066 !important'>Recommend Size for you</button>
        </div>

        <div class="input-field col s3">
          <img src="{{ url_for('static', filename='image/MMLG_hood.jpg') }}">"
        </div>

        <div class="input-field col s3">
        </div>
        
        <div class="input-field col s6">
          <br><br>
          {% if image_file=='image/size_df_image.png' %}
            <img src="{{ url_for('static', filename=image_file) }}" style='width:450px'>
          {% endif %}

        </div>

        <div class="input-field col s3">
        </div>
        
        <div class="input-field col s6">
          <br> {{user_info}} <br>
          <br> {{prefer_ch}}
          <br> {{prefer_sh}}
          <br> {{prefer_chest}}
          <br> {{prefer_ar}}
          <br> <br>
          <b><font size="5">{{pred}}</font> <br></b>
        </div>

      </div>
    </form>

      </div>

    </div>
  </div>


    <br><br>
  </div>
  </div>>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src=".js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>